.subscribe {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 15px;

    input {
        height: 30px;
        border-radius: 0;
        box-sizing: border-box;
        -webkit-appearance: none;
        -webkit-border-radius: 0;

        &:focus {
            outline: 0;
        }

        &[type="email"] {
            padding-right: 10px;
            transition: 1s;

            &:focus {
                background-color: lightgreen !important;
            }
        }

        &[type="submit"] {
            padding: 0 15px;
            position: relative;
            left: -5px;

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.mc4wp-response {
    width: 100%;
    background-color: lightgreen;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    text-align: center;
    z-index: 999;

    p {
        margin: 0;
        padding: 15px;
    }
}

.navbar {
    .subscribe {
        input[type="submit"],
        input[type="email"] {
            font-size: 15px;
        }
    }
    .mc4wp-response {
        margin: 10px 0 0;
    }
}

.wpforms-container {
    margin: 0 !important;

    .wpforms-confirmation-container-full {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        text-align: center;
    }

    form {
        * {
            padding: 0 !important;
        }
    }
}

button,
input[type="submit"],
input[type="email"] {
    font-family: "Oxygen", sans-serif;
}

button,
input[type="submit"] {
    border: 0 !important;
    // border-radius: 10px 10px 10px 0;
    text-transform: uppercase !important;
    transition: 1s !important;
}

input[type="email"],
input[type="text"],
textarea {
    max-width: 100% !important;
    background: transparent !important;
    border-top: 0 !important;
    border-left: 0 !important;
    border-right: 0 !important;
    border-radius: 0 !important;
    font-family: "Oxygen", sans-serif;
    padding-left: 5px !important;
}
